{% extends "discourse_base.html" %}
{% load i18n static %}

{% block page-title %}user - {{ other_user }} {% endblock %}

{% block content %}
    <div class="item">
        <h1>user - {{ other_user }} </h1><br />
        <table style="border: solid 1px gray; width: 300px; " id="item-list">
            <tr style="background-color: #DDD">
                <th style="padding: 10px;">ID</th>
                <th>Name</th>
                <!--<th>Action</th>-->
            </tr>
            <tr>
                <td style="padding: 10px;">{{ other_user.id }}</td>
                <td>{{ other_user }}</td>
                <!--
                <td>
					<a class="button" href="{% url 'user-delete' other_user.id %}" id="delete-item" value="delete" />delete</a>
					<a class="button" href="{% url 'user-edit' other_user.id %}" id="edit-item" value="edit" />edit</a>
				</td>
                -->
            </tr>
        </table>
        <br />
        <b>Hauptgruppe</b><br>
            <a href="{% url 'unset_department' other_user.id  %}">{{ other_user.participant.department }}</a>
        <br /><br />
        <b>Benutzer-Gruppen:</b>
        <br />
        {% for group in user_groups %}
            {% if other_user.participant.department != group %}
                <a href="{% url 'delete_user_from_group' other_user.id group.id  %}">{{group}}</a>
                {% if group.is_department and other_user.participant.department is None %} 
                    <a href="{% url 'set_department' other_user.id group.id  %}"><img title="Als Hauptgruppe festlegen" alt="[Set Hauptgruppe]" src='{% static "images/icons/abteilung.svg" %}' ></a>
                {% endif %},
            {% endif %}
        {% endfor %}
        
        <br /><br />
        <b>Zu Gruppe hinzufügen:</b><br>
        {% for group in admin_groups %}
            <a href="{% url 'add_user_to_group' other_user.id group.id  %}">{{group}}</a>,

        {% endfor %}
        <br />
        
        {% if all_groups %}
            <br />
            <b>Zu Gruppe hinzufügen: (GesamtAdmin Only Bereich): </b><br>
            {% for group in all_groups %}
                <a href="{% url 'add_user_to_group' other_user.id group.id  %}">{{group}}</a>,
            {% endfor %}
        {% endif %}


<!--
        <div id="add-form-div" >
            <form action="{% url 'user-details' other_user.id %}" method="POST" id="add-form">
                    <div id="form-fields">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
-->        
<br><br>
<!--
    <script type="text/javascript">
        (new FormHelper('add-form')).bind_for_ajax(
            function(data) {
                $('#form-fields').html('');
                $('#form-fields').append('<input type="hidden" value="' + data.token + '" name="csrfmiddlewaretoken">');
                $('#form-fields').append(data.form).hide().fadeIn();
                $('#add-form input[type=submit]').removeAttr('disabled');
            },
            function(data) {
                $('#form-fields').html('');
                $('#form-fields').append('<input type="hidden" value="' + data.token + '" name="csrfmiddlewaretoken">');
                $('#form-fields').append(data.form).hide().fadeIn();
                $('#add-form input[type=submit]').removeAttr('disabled');
            }
        );
        $('#delete-item').click(function() {
            $.get($(this).attr('href'), function(data) {
                $('div.item').before('<h1>Item removed</h1><br /><br />');
                $('div.item').remove();
            });
        });
    </script>
-->
    <a href="{% url 'user-list' %}">back to list</a>
{% endblock %}
