
{% extends "discourse_base.html" %}

{% block page-title %}user - {{ user }} {% endblock %}

{% block content %}
    <div class="item">
        <h1>Edit user - {{ user }} </h1><br />
        <br />
        <div id="add-form-div" >
            <form action="{% url 'user-details' user.id %}" method="POST" id="add-form">
                    <div id="form-fields" class="wide aligned module">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <input type="submit" value="Submit" />
            </form>
        </div>
    </div>

    <a href="{% url 'user-list' %}">back to list</a>
{% endblock %}
