{% extends "discourse_base.html" %}

{% block page-title %}user{% endblock %}

{% block content %}
    <h4>user list</h4><br />
    <a href="{% url 'user-list' %}">all</a> |
    <a href="{% url 'user-list' %}?is_active=False">inactive</a> |
    <a href="{% url 'user-list' %}?is_staff=True">staff</a> |
    <a href="{% url 'user-list'  %}?is_superuser=True">admins</a> 
    
    <table style="border: solid 1px gray; width: 300px; text-align: center;" id="item-list">
        <tr style="background-color: #DDD">
            <th style="padding: 10px;">ID</th>
            <th>Name</th>
            <th>created</th>
            <th>Active</th>
            <th>Action</th>
        </tr>
    {% for item in user_list %}
        <tr>
            <td style="padding: 10px;">{{ item.id }}</td>
            <td>{{ item }}</td>
            <td>{{ item.date_joined|date:"d.m.Y" }}</td>
            <td>
            {% if item.is_active %}
                yes
            {% else %}
                no
            {% endif %}
            </td>
            <td><a href="{% url 'user-details' item.id %}">show</a>
            {% if item.is_active %}
                <a href="{% url 'deactivate_user' item.id %}">deactivate</a>
            {% else %}
                <a href="{% url 'activate_user' item.id %}">activate</a>
            {% endif %}
   
                
                
            </td>
        </tr>
    {% endfor %}
    </table>
    <br />

    <script type="text/javascript">
        (new FormHelper('add-form')).bind_for_ajax(
            function(data) {
                $('#item-list').append('<td style="padding: 10px;">' + data.id + '</td><td>' + data.name + '</td><td><a href="{% url 'user-list' %}' + data.id + '/">show</a></td>').hide().fadeIn();
                $('#form-fields').html('');
                $('#form-fields').append('<input type="hidden" value="' + data.token + '" name="csrfmiddlewaretoken">');
                $('#form-fields').append(data.form);
                $('#add-form-div').toggle();
            },
            function(data) {
                $('#form-fields').html('');
                $('#form-fields').append('<input type="hidden" value="' + data.token + '" name="csrfmiddlewaretoken">');
                $('#form-fields').append(data.form).hide().fadeIn();
                $('#add-form input[type=submit]').removeAttr('disabled');
            }
        );
    </script>
{% endblock %}
