{% extends "sso_base.html" %}
{% load i18n static %}


{% block content %}

<div class="limiter container-fluid h-100">
        <div class="container-login100 row align-items-center h-100">
            <div class="col-lg-3 col-xl-3 col-lg-4 col-md-3 col-sm-1">&nbsp;</div>
            <div class="wrap-login100 col-xl-3 col-lg-4 col-md-6 col-sm-10">
                <span class="login100-form-title p-b-41">
                    Board Login
                </span>
                <form action="{% url 'discourse_sso' %}?sso={{sso}}&sig={{sig}}" method="POST" id="add-form" class="login100-form validate-form p-b-33 p-t-5">                     <div id="feedback"></div>

                    <div class="wrap-input100 validate-input" data-validate = "Enter username">
                        {{ form.username }}
                        <span class="focus-input100" data-placeholder="&#xe82a;"><img src='{% static "images/icons/user.svg" %}' ></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        {{ form.password }}
                        <span class="focus-input100" data-placeholder="&#xe80f;"><img src='{% static "images/icons/password.svg"%}' ></span>
                    </div>

                    <div class="wrap-input100 validate-input hide" data-validate="Enter password">
                        <input id="input_password_new" class="input100" type="password" name="pass_repeat" placeholder="New password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>

                    <div class="wrap-input100 validate-input hide" data-validate="Enter password">
                        <input id="input_password_repeat" class="input100" type="password" name="pass_repeat" placeholder="Repeat password">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <button id="input_button_login" type="submit" class="login100-form-btn active_input_button" >
                            Login
                        </button>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <a href="{% url 'create_user' %}">
                            Registrieren
                        </a>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <a href="#">
                            Passwort ändern
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
