
{% extends "discourse_base.html" %}


{% block content %}
    <div class="item">
    <h3> Login to Discourse </h3>
        <br />
        <div id="add-form-div" >
            <form action="{% url 'discourse_sso' %}?sso={{sso}}&sig={{sig}}" method="POST" id="add-form">
                    <div id="form-fields" class="wide aligned module">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <br><br>
    <a href="{% url 'create_user' %}"> Noch kein Account? Jetzt ein neues Konto erstellen</a>


{% endblock %}
