
{% extends "discourse_base.html" %}


{% block content %}
    <div class="item">
        <br />
        <br />
        <input type="button" onclick="$('#add-form-div').toggle();" value="Login user"><br /><br />
        <div id="add-form-div" >
            <form action="{% url 'discourse_sso' %}?sso={{sso}}&sig={{sig}}" method="POST" id="add-form">
                    <div id="form-fields">
                        {% csrf_token %}
                        {{ form.as_table }}
                    </div>
                    <input type="submit" value="Submit" />
            </form>
        </div>
    </div>

    <a href="{% url 'user-list' %}">back to list</a>
{% endblock %}
