
{% extends "base.html" %}

{% block page-title %}group{% endblock %}

{% block content %}
    <h1>group list</h1><br />
    <table style="border: solid 1px gray; width: 300px; text-align: center;" id="item-list">
        <tr style="background-color: #DDD">
            <th style="padding: 10px;">ID</th>
            <th>Name</th>
            <th>Members</th>
            <th>Action</th>
        </tr>
    {% for item in group_list %}
        <tr>
            <td style="padding: 10px;">{{ item.id }}</td>
            <td>{{ item }}</td>
            <td>{{item.members.count}}</td>
            <td>
                {% if user.is_staff %}
                <a href="{% url 'group-details' item.id %}">show</a>
                {% endif %}
                {%if user.is_superuser or item.members.count < 2 %}
                    <a href="{% url 'group-delete' item.id %}">delete</a>
                {%endif%}                
            </td>
        </tr>
    {% endfor %}
    </table>
    <br />

{% endblock %}
