{% load i18n static %}    
    <div class="header menu">
    {% block breadcrumbs2 %}
        <div >
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
        </div>
    {% endblock %}
    {% block menu %}
            <div class="menu">

                <span class="menu_space" style="margin-left:40px">  </span>
            
                {% if user.is_authenticated  %}
                    <a href="{% url 'user-list' %}">{% trans 'Users' %}</a>
                    <span>\</span>
                    <a href="{% url 'group-list' %}">{% trans 'Groups' %}</a>
                    <span>\</span>
                    <a href="{% url 'group-create' %}">{% trans 'Add Group' %}</a>
                    <span>\\</span>
                    <a href="/ua/easyaudit/crudevent">{% trans 'Audits' %}</a>
                {% endif %}       
            
                {% if user.is_active and user.is_superuser %}
                    <span> \\ </span>
                    <a href="{% url 'import_dgroups' %}">{% trans 'Import Groups' %}</a>
                    <span>\</span>
                    <a href="{% url 'admin:index' %}">{% trans 'Django-Admin' %}</a>
                    <span>\</span>
                    <a href="/admin/auth/user">{% trans 'User-Admin' %}</a>
                    <span>\</span>
                    <a href="/admin/discourseAdmin/dgroup">{% trans 'Group-Admin' %}</a>
                {% endif %}
             
            </div>
    {% endblock %}
    </div>
