/* Admin Bereich */

.field-groups {
    display:none;
}

.field-user_permissions{
    display:none;
}
.field-last_login{
    display:none;
}

.field-username input{
    pointer-events: none;
}
.field-email input{
    pointer-events: none;
}

