/* Admin Bereich */

.field-groups {
    display:none;
}

.field-user_permissions{
    display:none;
}
.field-last_login{
    display:none;
}

.field-username input{
    pointer-events: none;
}
.field-email input{
    pointer-events: none;
}
.header{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: #ffc;
    background: #417690;
    overflow: hidden;
}
.menu{
    background: #79aec8;
}
